@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');


h1 {
  
    font-family: 'Josefin Sans', cursive;
    color: gray;
    padding-top: 40px;
    padding-bottom: 50px;

    
}

.name {
    font-size: 110px;
}