@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swa');

.bio {
    text-align: center;
    padding-top: 60px;
   padding-left: 50px;
   padding-right: 50px;
    font-size: 20px;
    font-family: 'Josefin Sans', cursive;
   
}

.joy { 
    padding-bottom: 60px;
    font-family:'Bad Script';
    font-size: xx-large;  
}


 