@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.bio {
    padding-top: 80px;
    padding-left: 130px;
    padding-right: 130px;
    padding-bottom: 300px;
    font-size: 20px;
    font-family: 'Josefin Sans', cursive;
   
}


 