@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.bar {
  padding-top: 60px;
}

.navbar {
  font-size: 25px;
  font-family: 'Josefin Sans', cursive;
}

.navbar-brand {
  padding-left: 10px;
}






