.root{
  background-color:rgb(82, 129, 156);
  color: white;
}
header {
  /* padding: 35px; */
  padding-bottom: 8px;
  padding-top: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgba(210, 180, 140, 0.801);
  display:flex;
  justify-content: space-between;
}

.App {
  background-image: "bluebrickback.JPEG";
}
h1 {
  color: #5398c5;
}
header h1 {
  font-size: 75px;
  display: flex;
}
body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

header h1 .Jackson {
  color: #525252;
}

h2 {
  color:#525252;
  font-size: xx-large;
      display: block;
      font-size: 1.5em;
      margin-block-start: 0.83em;
      margin-block-end: 0.83em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
  }


header nav {
  padding-top: 15px;
  margin-right: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  height: 90px;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
section {
  display: flex;
  flex-basis: 10%;
}
body, html {
  height: 100%;
}
.about-me {
  /* align-content: space-between;
  padding-top: 40px; */
}
.justjoy {
  color:rgba(210, 180, 140, 0.801)
}
.joyjackson {
  align-items: center;
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 10px;
  padding-top: 10px;
  color: rgba(210, 180, 140, 0.801);
  background-color:rgba(82, 129, 156, 0.726);
  align-items: center;   
}
.image1 span {
  position:absolute; 
  top: 443px;
  background-color: rgba(82, 129, 156, 0.788);
  font-size: xx-large;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 8px;
  padding-left: 8px;
  color: #525252;
  font-style: italic
  ;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.otherimgs span {
  position: absolute;
  top: 155px;
  background-color: rgba(82, 129, 156, 0.753);
  font-size: xx-large;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 8px;
  padding-left: 8px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #525252;
  font-style: italic;
}
.about-me {
  display: flex;
}
.bdr-rt {
   border-right: 10px solid rgba(210, 180, 140, 0.801);
   flex: 0 0 15%;
   text-align: right;
   padding-right: 20px;
   padding-left: 20px;

   
}
.content {
  display: flex;
  /* position: relative; */
  padding-left: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 80px;
  
}
p.content {
  line-height: 1.5;
  /* width: 50%; */
}
.backgroundimg {
  padding: 35px;
      height: 150px;
      width: 90%;
      margin-bottom: 35px;
      /* background-image: url("../public/images/bluebrickback.JPEG"); */
      background-size: cover;
      /* background-position: center; */
  }
.backgroundimg {
  display:flex;
  align-items: flex-end;
  justify-content:flex-end;
  font-size: 40px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-right: 100px;
  font-style: italic;
}  

span.choosejoy {
align-items: right;
}

.choosejoy {
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 10px;
  padding-top: 10px;
  color:#525252;
  background-color:rgba(82, 129, 156, 0.726);

}  

.image1 {
  border: 5px solid rgba(82, 129, 156, 0.726);
  position: relative;
  /* padding-left: 30px;
  margin:auto; */
  line-height: 1.5;
}
.otherimgs {
  /* flex: 0 0 40%; */
  margin:20px;
  position: relative;
  border: 5px solid rgba(82, 129, 156, 0.726);

}
.mother {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-left: 170px;
  padding-top: 20px;
  padding-bottom: 40px;
}
.bottom li {
  display: inline-block;
flex-direction: row;
padding-left: 200px;
padding-top: 25px;
font-size: larger;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.headshot {
  padding-right: 20px;
}
.contact {
  align-content: space-between;
}
footer {
  padding: 30px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

footer h2 {
  font-size: 20px;
}
div.container.for-about {
   display: flex;


}

.card-deck
{
  padding-top: 100px;
  padding-left: 20px;
}

